
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,500;1,500&family=Flamenco:wght@300;400&family=Indie+Flower&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Pixelify+Sans:wght@400;500;600&family=Roboto:ital,wght@0,400;0,500;1,300;1,400;1,500&family=Rock+Salt&display=swap');
*,
*::before,
*::after {
  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  
}

hr {
  width: 100%;
  color: black;
  border: 1px solid var(--primary-color);

}

body {
  width: 100vw;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}


a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  overflow-wrap: break-word;
}

p {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

b,
strong {
  font-weight: bolder;
}

em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

small {
  font-size: 0.875em;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

textarea {
  resize: vertical;
}



.container,
.container-m {
  width: 100%;
  padding: 0 16px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100vw;
}


@media (min-width: 480px) {

  .container,
  .container-m {
    max-width: 480px;
  }
}

@media (min-width: 768px) {

  .container,
  .container-m {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}